# Streamlit secrets
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Model/cache files
.cache/
huggingface/